.navbar
  .navbar-inner
    .container
      .btn.btn-navbar{"data-target" => ".nav-collapse.4", "data-toggle" => "collapse"}
        .icon-bar
        .icon-bar
        .icon-bar
      .brand= link_to 'National', admins_path, id: 'brand'
      .nav-collapse.4
        .nav
          %li= link_to 'Players', users_path, method: :get
          %li= link_to 'Characters', characters_path