%table.table.user-table
  %tr
    %th Chapter
    /%th User
    %th Goblin stamps
    /%th
    /%th
    /%th

  - @members.each do |member|
    %tr
      %td= Chapter.find(member.chapter_id).name
      /%td= member.user_id
      %td= member.goblin_stamps
      /%td= link_to 'Show', member
      /%td= link_to 'Edit', edit_member_path(member)
      /%td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

%br

/= link_to 'New Member', new_member_path