%table.table.users-table.xp-table
  %tr
    %th Chapter
    %th
    %th Goblins
    %th
    /%th
    /%th

  - @members.each do |member|
    - chapter = Chapter.find(member.chapter_id)
    %tr
      %td= chapter.name
      %td= link_to 'View Events', events_for_chapter_event_path(chapter.id), class: "btn"
      %td.ln= member.goblin_stamps
      %td= link_to 'View Stamp Log', view_goblins_user_path(chapter.id), class: "btn"
      /%td= link_to 'Show', member
      /%td= link_to 'Edit', edit_member_path(member)
      /%td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

%br

/= link_to 'New Member', new_member_path