%h2 Change your password
= simple_form_for(@user, :url => { :action => 'edit_password'}) do |f|
  .form-inputs
    = f.input :password, :label => "New password", :required => true
    = f.input :password_confirmation, :label => "Confirm your new password", :required => true
  .form-actions
    = f.button :submit, "Change my password", method: 'put'
