%h1 Editing Character
%ul.nav.nav-tabs
  %li= link_to 'Back', characters_path, class: "btn"
  %li= link_to 'View', @character, class: "btn"
.span4
  = render 'form'
.span6
  = render 'character_skills/skills'