-#%h2 Character Skills
%table.table.user-table
  %tbody
    - CharacterSkill.find_all_by_character_id(@character.id).each do |skill|
      %tr
        %td.ln #{Skill.find(skill.skill_id).name}:
        - if skill.bought == true
          %td 1
        - if skill.bought == false
          %td 0
        - if skill.amount
          %td= skill.amount
        %td= link_to 'X', skill, :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-mini btn-danger', :id => 'delete_skill'