-#%h2 Character Skills
%table.table.user-table
  %tbody
    - CharacterSkill.find_by_id(@character.character_skill_id).attributes.each do |attr_name, attr_val|
      - if CharacterSkill.display_val(attr_name) && attr_val
        %tr
          %td.ln #{attr_name.capitalize}:
          %td= attr_val