-#%h2 Character Skills
%table.table.user-table
  %tbody
    - CharacterSkill.find_all_by_character_id(@character.id).each do |skill|
      %tr
        %td.ln #{Skill.find(skill.skill_id).name}:
        - if skill.bought
          %td= skill.bought
        - if skill.amount
          %td= skill.amount