%table.table.table-striped
  %tbody
    - CharacterSkill.find_all_by_character_id(@character.id).each do |skill|
      %tr
        %td.ln #{Skill.find(skill.skill_id).name}:
        - if skill.bought == true
          %td 1
        - if skill.bought == false
          %td 0
        - if skill.amount
          %td= skill.amount