%table.table.table-striped
  %tbody
    - @character.character_skills.sort.each do |skill|
      %tr
        %td #{Skill.find(skill.skill_id).name}:
        - if skill.bought == true
          %td 1
        - if skill.bought == false
          %td 0
        - if skill.amount
          %td= skill.amount
        %td= link_to 'Add', skill, :method => :put, class: 'primary btn commit create btn-mini', name: 'commit', type: 'submit'
        %td= link_to 'X', skill, :method => :delete, class: 'btn btn-mini btn-danger', :id => 'delete_skill'
        / , :data => { :confirm => 'Are you sure?' }
        / (tab: @character.chapter.id)