%ul.nav.nav-tabs
  %li= link_to 'Chapter Home', @chapter, class: "btn"
  %li= link_to 'Chapter Events', events_for_chapter_event_path(@chapter.id), class: "btn"
  %li= link_to 'Chapter Players', users_for_chapter_user_path(@chapter.id), class: "btn"
  %li= link_to 'Chapter Characters', characters_for_chapter_character_path(@chapter.id), class: "btn"
