%ul.nav.nav-tabs
  %li= link_to "Home", @chapter, class: "btn"
  %li= link_to "Events", chapter_events_path(@chapter.id), class: "btn", id: "chapter_events"
  %li= link_to "Players", chapter_users_path(@chapter.id), class: "btn", id: "chapter_players"
  %li= link_to "Characters", chapter_characters_path(@chapter.id), class: "btn", id: "chapter_characters"
