/%h3 List of Events
/.span2
%br
= link_to 'New Member', new_user_path, class: "btn"
%p
%p
  %b Number of Members:
  = @members.count
%br
= link_to 'New Event', new_event_path, class: "btn"
%p
%p
  %b Number of Events:
  = @events.count

/= render 'events/event_table'

/%h3 List of Members
/.span2

/= render 'user_table'

/%h3 List of Characters

/= render 'characters/character_table'