%h1 Chapter Functions

%p= link_to 'New Member', new_user_path, class: "btn"
%P

= render 'user_table'

/ %p= link_to 'New Character', new_character_path, class: "btn"
/ %p

/ = render 'chapter_character_table'